@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*
#Color theme 
#587f70 , #374b43, #99b0a7,#5d7a94,#2b4a61 */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #587f70;
    --foreground: #2b4a61;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
