@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #323d3d;
  --color-secondary: #bfcccc;
  --color-accent: #dd733e;
  --color-highlight: #305859;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --foreground: #84a5a4;
    --color-primary: #84a5a4;
    --color-secondary: #313438;
    --color-accent: #4c565d;
    --color-highlight: #a9cec2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}